<div class="contenedor">
    <h3>Proyectos Realizados</h3>
    <div class="row">
        <ul>
            <h4>Portfolio de Argentina Programa</h4>
            <h5>Fecha: 31/07/2022</h5>
        </ul>
        <div class="col-md-12 col-lg-3">
            <img src="../../../assets/proyecto.jpg">
        </div>
        <div class="col-md-12 col-lg-8 offset-lg-1">
            <p>Portfolio del Proyecto Integrador del curso de Argentina Programa, una página web donde se muestra mi formación y experiencia como desarrollador.</p>
            <p><a href="https://github.com/MaxPower741/ProyectoAP">Enlace del proyecto.</a></p>
        </div>
    </div>
</div>
