<div class="contenedor">
    <h3>Experiencia laboral</h3>
    <div class="row">
        <div class="imagen col-sm-4 col-md-2 col-lg-2">
            <img src="../../../assets/profe.png">
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            <p class="trabajo">Profesor particular</p>
            <p>De matemáticas, física y electrónica para todos los niveles. En casa y a domicilio</p>
            <p>Febrero 2010 — presente (12 años)</p>
        </div>
        <div class="imagen col-sm-4 col-md-2 col-lg-2">
            <img src="../../../assets/unt.png">
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            <p class="trabajo">Ayudante de cátedra</p>
            <p>Cátedra de Electrónica I de la Facultad de Ciencias Exactas y Tecnología, U.N.T.</p>
            <p>Septiembre 2017 — Agosto 2018 (1 año)</p>
        </div>
        <div class="imagen col-sm-4 col-md-2 col-lg-2">
            <img src="../../../assets/celulares.webp">
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            <p class="trabajo">Servicio ténico</p>
            <p>Reparación de celulares, tablets y computadoras en casa.</p>
            <p>Julio 2019 — presente (3 años)</p>
        </div>
        <div class="imagen col-sm-4 col-md-2 col-lg-2">
            <img src="../../../assets/ced.jpg">
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            <p class="trabajo">Pasante educador</p>
            <p>Coordinación de Educación Digital en área de robótica.</p>
            <p>Marzo 2021 — presente (1 año)</p>
        </div>
    </div>
</div>
