<div class="contenedor">
    <div class="imagenes">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/MaxMedina00/"><img src="../../../assets/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/max.power741/"><img src="../../../assets/instagram.png" alt="Instagram"></a>
                <a href="https://twitter.com/MaxPower741"><img src="../../../assets/twitter.png" alt="Twitter"></a>
                <a href="https://www.linkedin.com/in/maximiliano-medina-38b3661a0/"><img src="../../../assets/linkedin.png" alt="LinkedIn"></a>
                <a href="https://github.com/MaxPower741"><img src="../../../assets/github.png" alt="GitHub"></a>
            </div>
        </div>
    </div>
    <div class="boton">
        <button type="button" class="btn btn-outline-light">Ingresar</button>
    </div>
</div>