<div class="contenedor">
    <h3>Habilidades</h3>
    <h4>Habilidades duras</h4>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'HTML'"
                [percent]="90"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'CSS'"
                [percent]="80"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'JavaScript'"
                [percent]="95"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'Ruby'"
                [percent]="70"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'GitHub'"
                [percent]="65"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'C#'"
                [percent]="95"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="['Paquete', 'Office']"
                [percent]="100"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="['Mantenimiento', 'de PC']"
                [percent]="100"
                [titleFontSize]="'25'"
            ></circle-progress>
        </div>
    </div>
    <h4>Habilidades blandas</h4>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'Adaptabilidad'"
                [percent]="90"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'Proactividad'"
                [percent]="80"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'Organización'"
                [percent]="95"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="['Resolución', 'de conflictos']"
                [percent]="90"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="['Trabajo', 'en equipo']"
                [percent]="95"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'Puntualidad'"
                [percent]="98"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'Comunicación'"
                [percent]="100"
            ></circle-progress>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <circle-progress
                [title]="'Creatividad'"
                [percent]="90"
            ></circle-progress>
        </div>
    </div>
</div>

