<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 id="nombre">Medina, Maximiliano</h3>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Acerca de mí</h3>
            <p>Ingeniero en electrónica, reparador de computadoras y celulares, profesor de robótica, electrónica, física y matemáticas.</p>
        </span>
    </div>
</div>
