<div class="contenedor">
    <h3>Educación</h3>
    <div class="row">
        <div class="imagen col-sm-4 col-md-2 col-lg-2">
            <img src="../../../assets/carducci.jpg">
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            <p class="lugar">Colegio Giosuè Carducci</p>
            <p><b>Nivel primario.</b> Colegio con enseñanza del idioma italiano.</p>
            <p>1993 — 1997 (5 años)</p>
        </div>
        <div class="imagen col-sm-4 col-md-2 col-lg-2">
            <img src="../../../assets/kinder.GIF">
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            <p class="lugar">Colegio Kinder</p>
            <p><b>Nivel primario.</b> Primaria del Colegio del Sol Tucumán.</p>
            <p>1998 — 1998 (1 año)</p>
        </div>
        <div class="imagen col-sm-4 col-md-2 col-lg-2">
            <img src="../../../assets/colegiodelsol.jpg">
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            <p class="lugar">Colegio del Sol Tucumán</p>
            <p><b>Nivel secundario.</b> Bachiller con orientación en producción de bienes y servicios.</p>
            <p>1999 — 2004 (6 años)</p>
        </div>
        <div class="imagen col-sm-4 col-md-2 col-lg-2">
            <img src="../../../assets/unt.png">
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            <p class="lugar">Facultad de Ciencias Exactas y Tecnología (U.N.T.)</p>
            <p><b>Nivel universitario.</b> Carrera de Ingeniería Electrónica con orientación en Telecomunicaciones.</p>
            <p>2008 — 2022 (15 años)</p>
        </div>
    </div>
</div>